<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Input PhoneNumber</title>
</head>
<body>
<form th:action="@{/save-user}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"/></td>
            <td>Firstname</td>
            <td><input type="text" th:field="*{firstname}"/></td>
            <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First Name Error</td>
            <td>Lastname</td>
            <th><input type="text" th:field="*{lastname}"></th>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name Error</td>
            <td>Phone</td>
            <th><input type="text" th:field="*{phone}"></th>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
            <td>Age</td>
            <th><input type="text" th:field="*{age}"></th>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
            <td>Email</td>
            <th><input type="text" th:field="*{email}"></th>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>